@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cinzel", serif;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}
